<h1>Listing users</h1>

<table border="1" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Contact Info</th>
    <th>Delete User</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
	<td><a href="http://www.google.com/maps?q=<%=user.locations.first.address if user.locations.first.address %>"><%= user.locations.first.name %></a></td>
	<td><%= user.locations.first.contact_info if user.locations %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New User', new_user_path %></p>
