<h1>Listing users</h1>

<table border="1" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Contact Info</th>
	<th>Check In Time</th>
	<th>Password hash</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
	<% if user.locations.exists? %>
	<td><a href="http://www.google.com/maps?q=<%= user.locations.first.address %>"><%= user.locations.first.name %></a></td>
	<td><%= user.locations.first.contact_info %></td>
	<td><%= user.locations.first.updated_at.strftime('%l:%M %p, %d %b %Y') %></td>
    <% else %>
	<td></td>
	<td></td>
	<td></td>
	<% end %>
	<td><%= user.password_hash %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New User', new_user_path %></p>
