<p><a href="/">All Users</a></p>
<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @user.name %> | 
  <b>Email:</b>
  <%= @user.email %>
| <%= link_to 'Edit', edit_user_path(@user) %> - <%= link_to 'Destroy', @user, :confirm => 'Are you sure you want to delete your entire user record and all locations?', :method => :delete %>
</p>

<%= render :partial => "location",
           :collection => @user.locations %>

<%= render 'form_location' %>