<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %> | 
  <b>Email:</b>
  <%= @user.email %>
| <%= link_to 'Edit', edit_user_path(@user) %>
</p>

<%= render :partial => "location",
           :collection => @user.locations %>

<%= render 'form_location' %>